html,
body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: pink;
}

:root {
  --grey-400: #9CA3AF;
  --grey-200: #E5E7EB;
  --grey-100: #F3F4F6;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex: 1;
  max-height: calc(100vh - 80px);
  height: 100%;
}

.playlist,
.queue {
  overflow: hidden;
  overflow-y: auto;
}

.playlist {
  padding: 86px;
  flex: 1;
}

.playlist-header {
  margin-bottom: 48px;
}

.song {
  margin-bottom: 32px;
  padding-left: 16px;
}

.playlist-header {
  display: flex;
  margin-bottom: 48px;
}

.playlist-cover {
  width: 250px;
  margin-right: 32px;
}

.playlist-text {
  align-self: flex-end;
}

.playlist-name {
  margin: 8px 0;
}

.queue {
  width: 330px;
  background-color: var(--grey-100);
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-left: 1px solid var(--grey-200);
}

.queue-controls {
  position: absolute;
  top: 32px;
  left: 32px;
}

.queue-songs--empty {
  color: var(--grey-400);
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
  border-top: 1px solid var(--grey-200);
}

.player-item {
  display: flex;
  width: 40%;
}

.player-current_song {
  height: 100%;
  align-items: center;
}

.current_song-cover {
  height: 100%;
  margin-right: 16px;
}

.player-controls {
  justify-content: center;
  gap: 32px;
  width: 20%;
}

.player-controls .control {
  width: 40px;
}

.branding {
  padding-right: 16px;
  justify-content: flex-end;
}

.branding-content label {
  display: block;
}
.branding-content img {
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.body--small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.title {
 font-weight: bold;
 font-size: 3rem;
 line-height: 1.25;
}

.subtitle {
  font-weight: bold;
}

.subtitle--small {
  font-weight: bold;
  font-size: 0.875rem;
}

.overline {
  font-size: 0.75rem;
}